.node-red/flows_HOSTNAME.json
[{"id":"7ef171b4.98ad4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"521a3c2d.329f04","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"af1d6181.ef75b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c8bee709.a2de78","type":"tab","label":"uibuilder 1","disabled":false,"info":""},{"id":"43c44b50.ed1a84","type":"tab","label":"Home","disabled":false,"info":""},{"id":"369be085.a0164","type":"tab","label":"MySmarthomeAdmin","disabled":false,"info":""},{"id":"5ba4c2d8.c7e7bc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3da69573.809dda","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1},{"id":"d90ab7f4.c2fad8","type":"ui_group","name":"Group 1","tab":"3da69573.809dda","order":1,"disp":true,"width":6},{"id":"617ab4d.8acba4c","type":"ui_group","name":"Group 2","tab":"3da69573.809dda","order":2,"disp":true,"width":6},{"id":"a5098115.db92d","type":"ui_group","z":"","name":"Group 3","tab":"708182bd.fc0c5c","order":3,"disp":true,"width":"6","collapse":false},{"id":"708182bd.fc0c5c","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"acef6be8.da6388","type":"ui_group","z":"","name":"Angular","tab":"c5770789.664698","order":2,"disp":true,"width":"6","collapse":false},{"id":"e9da23b5.5d3f1","type":"ui_tab","z":"af1d6181.ef75b","name":"New Test","icon":"dashboard"},{"id":"c5770789.664698","type":"ui_tab","z":"","name":"MyTab3","icon":"dashboard"},{"id":"1d1f888d.f2ec67","type":"ui_tab","z":"","name":"Heizung","icon":"dashboard","order":5},{"id":"3eb08537.423c9a","type":"ui_group","z":"","name":"Urlaubsmodus","tab":"1d1f888d.f2ec67","order":1,"disp":true,"width":"6","collapse":true},{"id":"70324f57.01c24","type":"mqtt-broker","z":"","name":"raspimqtt","broker":"192.168.178.42:1883","port":"1883","clientid":"sapwinNodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9477af9f.c57a6","type":"mqtt-broker","z":"","name":"raspimqtt","broker":"192.168.178.42","port":"1883","clientid":"Pi2-NRlive-a","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67f7f491.f4d43c","type":"ui_date_picker","z":"7ef171b4.98ad4","name":"","label":"date","group":"d90ab7f4.c2fad8","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":390,"y":580,"wires":[[]]},{"id":"e3265f9b.d4bf7","type":"ui_text_input","z":"7ef171b4.98ad4","name":"","label":"Eingabe","group":"617ab4d.8acba4c","order":0,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":220,"y":1500,"wires":[[]]},{"id":"2e624688.e5d38a","type":"ui_numeric","z":"521a3c2d.329f04","name":"","label":"numeric","group":"a5098115.db92d","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":280,"y":80,"wires":[[]]},{"id":"d1a2c5e4.9c5e68","type":"ui_template","z":"7ef171b4.98ad4","group":"d90ab7f4.c2fad8","name":"MyFirstTemplate","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n    <span flex>Item</span>\n    <span flex>Value</span>\n</div>\n<div layout=\"row\" layout-align=\"start-center\" ng-repeat=\"item in msg.payload.items\">\n    <span flex style=\"Color: green\">{{item.label}}</span>\n    <span flex style=\"Color: black\">{{item.value}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":120,"wires":[[]]},{"id":"12891710.8ed6a9","type":"inject","z":"7ef171b4.98ad4","name":"MyTimestampCreator","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":100,"wires":[[]]},{"id":"1803486c.840318","type":"function","z":"7ef171b4.98ad4","name":"Generate data","func":"seed = Math.round(Math.random()*1000);\nmsg.payload = { gasPct:seed, windTcp:seed/4, coalPct:seed/12, oilPct:seed/8, nucPct:seed/2 };\n//console.log(\"Test\");\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":500,"wires":[["d5092615.c88078"]]},{"id":"8585e34a.2cdab","type":"ui_template","z":"7ef171b4.98ad4","group":"617ab4d.8acba4c","name":"Spin-Input","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<form>\n<input type=\"number\" min=\"10\" max=\"20\" step=\"2\" value={{msg.payload.value}} required>\n<input type=\"submit\" value=\"Submit Now!\">\n<input type=\"file\" value=\"Test.txt\" >\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":370,"y":320,"wires":[["650e9f14.02852","bfd822fc.1246e"]]},{"id":"2fa5bffa.66121","type":"ui_form","z":"7ef171b4.98ad4","name":"TestForm","label":"Form test","group":"d90ab7f4.c2fad8","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"myname","type":"text","required":true}],"formValue":{"myname":""},"payload":"","topic":"","x":300,"y":640,"wires":[[]]},{"id":"bd8364fc.579598","type":"ui_template","z":"7ef171b4.98ad4","group":"d90ab7f4.c2fad8","name":"BigTestNotWorking","order":0,"width":0,"height":0,"format":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>jQuery UI Spinner - Time</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css\">\n  <link rel=\"stylesheet\" href=\"/resources/demos/style.css\">\n  <script src=\"https://code.jquery.com/jquery-1.12.4.js\"></script>\n  <script src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.js\"></script>\n  <script src=\"/resources/demos/external/globalize/globalize.js\"></script>\n  <script src=\"/resources/demos/external/globalize/globalize.culture.de-DE.js\"></script>\n  <script src=\"/resources/demos/external/jquery-mousewheel/jquery.mousewheel.js\"></script>\n  <script>\n  $( function() {\n    $.widget( \"ui.timespinner\", $.ui.spinner, {\n      options: {\n        // seconds\n        step: 60 * 1000,\n        // hours\n        page: 60\n      },\n \n      _parse: function( value ) {\n        if ( typeof value === \"string\" ) {\n          // already a timestamp\n          if ( Number( value ) == value ) {\n            return Number( value );\n          }\n          return +Globalize.parseDate( value );\n        }\n        return value;\n      },\n \n      _format: function( value ) {\n        return Globalize.format( new Date(value), \"t\" );\n      }\n    });\n \n    $( \"#spinner\" ).timespinner();\n \n    $( \"#culture\" ).on( \"change\", function() {\n      var current = $( \"#spinner\" ).timespinner( \"value\" );\n      Globalize.culture( $(this).val() );\n      $( \"#spinner\" ).timespinner( \"value\", current );\n    });\n  } );\n  </script>\n</head>\n<body>\n \n<p>\n  <label for=\"spinner\">Time spinner:</label>\n  <input id=\"spinner\" name=\"spinner\" value=\"08:30 PM\">\n</p>\n<p>\n  <label for=\"culture\">Select a culture to use for formatting:</label>\n  <select id=\"culture\">\n    <option value=\"en-EN\" selected=\"selected\">English</option>\n    <option value=\"de-DE\">German</option>\n  </select>\n</p>\n \n \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":820,"wires":[[]]},{"id":"896a52db.55284","type":"inject","z":"7ef171b4.98ad4","name":"TestData","topic":"TestData","payload":"{\"label\":\"Data\",\"value\":17.5,\"a\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":240,"wires":[["8585e34a.2cdab","650e9f14.02852","4c9d5b93.c9f0c4"]]},{"id":"650e9f14.02852","type":"debug","z":"7ef171b4.98ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":280,"wires":[]},{"id":"bfd822fc.1246e","type":"ui_text","z":"7ef171b4.98ad4","group":"d90ab7f4.c2fad8","order":0,"width":0,"height":0,"name":"ValueOutput","label":"Wert=","format":"","layout":"row-spread","x":590,"y":380,"wires":[]},{"id":"4c9d5b93.c9f0c4","type":"ui_template","z":"7ef171b4.98ad4","group":"617ab4d.8acba4c","name":"Angular Slider","order":0,"width":"6","height":"8","format":"<h1>Msg Topic: </h1>\n<h2>msg.payload.a</h2>\n<div ng-bind-html=\"msg.payload.a\"></div>\n<h2>Calculated after receiving a msg</h2>\n<div>Wert: {{msg.payload.a}}</div>\n<h2>Call a function on click</h2>\n<div ng-click=\"click(b)\">Click me to change the number</div>\n<div></div>\n\n<script>\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            console.log('- Scope.msg -')\n            console.dir(scope.msg)\n            \n            scope.myCalc = scope.msg.payload.b * 2\n        })\n\n        // Function triggered by clicking on a div\n        scope.click = function(b) {\n            if ( ! scope.myNum ) scope.myNum = 0\n            scope.myNum++\n        }\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":440,"wires":[["650e9f14.02852"]]},{"id":"845eedd.5957c1","type":"debug","z":"af1d6181.ef75b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":660,"y":180,"wires":[]},{"id":"e584aa8d.14aa48","type":"inject","z":"af1d6181.ef75b","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":160,"wires":[["55c5b2a9.feaecc"]]},{"id":"55c5b2a9.feaecc","type":"ui_template","z":"af1d6181.ef75b","group":"617ab4d.8acba4c","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":180,"wires":[["845eedd.5957c1"]]},{"id":"26aa0167.ada53e","type":"inject","z":"af1d6181.ef75b","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":200,"wires":[["55c5b2a9.feaecc"]]},{"id":"d5092615.c88078","type":"ui_template","z":"7ef171b4.98ad4","group":"acef6be8.da6388","name":"ChartExample","order":0,"width":"6","height":"7","format":" <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n\n<div id=\"chart-example\" style=\"height: 250px;\"></div>\n\n<h3 align=\"center\">UK power generation by type (in GigaWatt) </h3>\n\n<script>\nconsole.log(\"Script\");\n(function(scope) {\n    console.log(\"innerfct\");\n    var timer = setInterval(function() { //check that the Morris libs are loaded, if not wait\n         if (!window.Morris) return;\n         clearInterval(timer);\n         \n         var myData;\n         \n         console.log(\"Morris.Donut\");\n         var myDonut = Morris.Donut({\n         element: 'chart-example',\n         data: [\n         {label: \"Coal GW\", value: 1 },\n         {label: \"Gas GW\", value: 1 },\n         {label: \"Nuclear GW\", value: 1 },\n         {label: \"Oil GW\", value: 1 },\n         {label: \"Wind GW\", value: 1 }\n         ]\n         });\n         \n         \n         scope.$watch('msg', function (msg) { //watch for an incoming NR msg\n             console.log(\"Watch\");\n             if (msg) {\n                 console.log(\"msg: \"+msg.toString());\n                 myData = msg;\n                 myDonut.setData([\n                     {label: \"Coal GW\", value: 2 },\n                     {label: \"Gas GW\", value: 8 },\n                     {label: \"Nuclear GW\", value: 6 },\n                     {label: \"Oil GW\", value: 17 },\n                     {label: \"Wind GW\", value: 56 }\n                 ])\n/*                 \n                 myDonut.setData([\n                     {label: \"Coal GW\", value: myData.payload.coalPct },\n                     {label: \"Gas GW\", value: myData.payload.gasPct },\n                     {label: \"Nuclear GW\", value: myData.payload.nucPct },\n                     {label: \"Oil GW\", value: myData.payload.oilPct },\n                     {label: \"Wind GW\", value: myData.payload.windPct }\n                 ])\n                 */\n             };\n         }); //close out the watch \n     \n    }, 100); // close out the setInterval \n})(scope);\n\n\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":420,"y":520,"wires":[[]]},{"id":"10b45892.e5c977","type":"inject","z":"7ef171b4.98ad4","name":"WakeUp","topic":"Call","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["1803486c.840318"]]},{"id":"add33cf6.8d8f7","type":"ui_template","z":"521a3c2d.329f04","group":"3eb08537.423c9a","name":"Urlaub","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n\n\n\n<form method=\"post\">\n\tDatei für Heizungsprofil</form>\n<p><input name=\"File1\" onselect=\"fileSelected\" type=\"file\" /></p>\n<p>\n<form method=\"post\">\n\t<button name=\"Abutton1\" onclick=\"sendHeatingProfile\" title=\"Profil senden\">\n\tSende Profil</button>\n\t<button class=\"btn btn-lg\" style=\"width: 100%; height: 100%; padding: 0; background: inherit; border:0\"\n                ng-click=\"sendCmd(config.lock_open, 'ON')\">\n    TestNgClick</button>\n</form>\n</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":210,"y":160,"wires":[[]]},{"id":"bac9cef.25bbc3","type":"uibuilder","z":"c8bee709.a2de78","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":260,"y":60,"wires":[[],[]]},{"id":"295c7317.8ea99c","type":"debug","z":"c8bee709.a2de78","name":"moonjs-debug","active":true,"console":"false","complete":"true","x":540,"y":180,"wires":[]},{"id":"764c22f3.6c888c","type":"uibuilder","z":"c8bee709.a2de78","name":"moonjs","topic":"","url":"moon","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":330,"y":180,"wires":[["295c7317.8ea99c"],[]]},{"id":"9684776d.5149b8","type":"inject","z":"c8bee709.a2de78","name":"","topic":"uibuilder-moon","payload":"{\"lib\":\"moon\", \"testNum\": 500}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":180,"wires":[["764c22f3.6c888c","f9ba163.f6ccae8"]]},{"id":"f9ba163.f6ccae8","type":"uibuilder","z":"c8bee709.a2de78","name":"HeatingWeekProfile","topic":"","url":"HeatingWeekProfile","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":410,"y":280,"wires":[["f63ca372.12b8f","5e3c97c3.aa2fa8"],[]]},{"id":"45f2ec6c.41b244","type":"mqtt in","z":"c8bee709.a2de78","name":"ResultKuecheDeviceConfigurationParameters","topic":"msghomegear/plain/10/0/GetDeviceConfigurationParameters","qos":"2","broker":"70324f57.01c24","x":210,"y":540,"wires":[["ca816dd.339a09","f63ca372.12b8f"]]},{"id":"a4976320.06abf","type":"mqtt out","z":"c8bee709.a2de78","name":"KuecheGetDeviceConfigurationParameters","topic":"","qos":"","retain":"","broker":"70324f57.01c24","x":830,"y":360,"wires":[]},{"id":"f63ca372.12b8f","type":"debug","z":"c8bee709.a2de78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":800,"y":260,"wires":[]},{"id":"ca816dd.339a09","type":"json","z":"c8bee709.a2de78","name":"ConvertToJson","property":"payload","action":"obj","pretty":false,"x":260,"y":420,"wires":[["f63ca372.12b8f","f9ba163.f6ccae8"]]},{"id":"a940a724.677638","type":"uibuilder","z":"43c44b50.ed1a84","name":"","topic":"","url":"home","fwdInMessages":false,"allowScripts":true,"allowStyles":true,"debugFE":false,"copyIndex":true,"x":490,"y":180,"wires":[["c6402f08.dd816"],["89462ee3.5674d","4acba92a.e9bd48"]]},{"id":"fb8113a8.a745d","type":"debug","z":"43c44b50.ed1a84","name":"homie mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":240,"wires":[]},{"id":"43a20e0d.f2588","type":"mqtt in","z":"43c44b50.ed1a84","name":"","topic":"homie/#","qos":"2","broker":"9477af9f.c57a6","x":150,"y":240,"wires":[["fb8113a8.a745d","beff388a.41a488"]]},{"id":"c6402f08.dd816","type":"debug","z":"43c44b50.ed1a84","name":"home data out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":160,"wires":[]},{"id":"beff388a.41a488","type":"function","z":"43c44b50.ed1a84","name":"","func":"// Expects input msgs with topic set \n\n// saved context\nvar homeMsgs = context.get('homeMsgs') || {}\n\n// Only send to single client if needed\nvar socketId = null\nif ( msg.hasOwnProperty('_socketId') ) {\n    socketId = msg._socketId\n}\n\n// Replay cache if requested\nif ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY' ) {\n    for (var topic in homeMsgs) {\n        let newMsg = {\n            \"topic\": topic, \n            \"payload\": homeMsgs[topic]\n        }\n        // Only send to a single client if we can\n        if ( socketId !== null ) newMsg._socketId = socketId\n        node.send(newMsg)\n    }\n    return null\n}\n// -- else --\n// Empty cache if requested\nif ( (msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'RESET')  ||\n     (msg.payload.hasOwnProperty('cacheControl') && msg.payload.cacheControl === 'RESET') ) {\n    homeMsgs = {}\n    context.set('homeMsgs', homeMsgs)\n    return null\n}\n// -- else --\n\n// ignore cacheControl and uibuilder control messages\nif ( msg.hasOwnProperty('cacheControl') || msg.hasOwnProperty('uibuilderCtrl') ) return null\n\n// Add a counter for each device name\nif ( msg.topic.endsWith('$name') ) {\n    let topic = msg.topic.replace('$name', '$count')\n    let count = homeMsgs[topic] || 0\n    count = count + 1\n    homeMsgs[topic] = count\n    let newMsg = {\n        \"topic\": topic, \n        \"payload\": count\n    }\n    // Only send to a single client if we can\n    if ( socketId !== null ) newMsg._socketId = socketId\n    node.send(newMsg)\n}\n\n// Keep the last msg.payload by topic\nhomeMsgs[msg.topic] = msg.payload\n\n// save context for next time\ncontext.set('homeMsgs', homeMsgs)\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["a940a724.677638","8a1e7f41.59931"]]},{"id":"89462ee3.5674d","type":"debug","z":"43c44b50.ed1a84","name":"home controls","active":false,"console":"false","complete":"true","x":680,"y":200,"wires":[]},{"id":"a3952237.1e6d8","type":"link in","z":"43c44b50.ed1a84","name":"home-replay","links":["4acba92a.e9bd48"],"x":115,"y":180,"wires":[["beff388a.41a488"]]},{"id":"4acba92a.e9bd48","type":"link out","z":"43c44b50.ed1a84","name":"home-controls","links":["a3952237.1e6d8"],"x":615,"y":240,"wires":[]},{"id":"8a1e7f41.59931","type":"debug","z":"43c44b50.ed1a84","name":"input messages","active":false,"console":"false","complete":"true","x":480,"y":120,"wires":[]},{"id":"43fcb60c.090938","type":"inject","z":"43c44b50.ed1a84","name":"RESET","topic":"","payload":"{\"cacheControl\":\"RESET\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":140,"wires":[["beff388a.41a488"]]},{"id":"5e3c97c3.aa2fa8","type":"mqtt out","z":"c8bee709.a2de78","name":"MQTT SEND","topic":"","qos":"","retain":"","broker":"70324f57.01c24","x":720,"y":480,"wires":[]},{"id":"27b00ed2.a60992","type":"mqtt out","z":"c8bee709.a2de78","name":"RetrieveHeatingWeekProfile","topic":"cmdhomegear/RetrieveHeatingWeekProfile","qos":"","retain":"","broker":"70324f57.01c24","x":830,"y":420,"wires":[]},{"id":"dfa01061.41251","type":"uibuilder","z":"c8bee709.a2de78","name":"MySmartHomeAdmin","topic":"","url":"mdbootstrap","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":570,"y":680,"wires":[["5e3c97c3.aa2fa8","2cf949aa.c44d86"],[]]},{"id":"a1d40938.bc6718","type":"mqtt in","z":"c8bee709.a2de78","name":"GetHeatingWeekProfile","topic":"msghomegear/GetHeatingWeekProfile","qos":"2","broker":"70324f57.01c24","x":190,"y":680,"wires":[["dfa01061.41251","2cf949aa.c44d86"]]},{"id":"2cf949aa.c44d86","type":"debug","z":"c8bee709.a2de78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":760,"wires":[]},{"id":"d82603d2.be2bb","type":"mqtt in","z":"c8bee709.a2de78","name":"","topic":"msghomegear/SetHeatingWeekProfileResult","qos":"2","broker":"70324f57.01c24","x":250,"y":760,"wires":[["dfa01061.41251","2cf949aa.c44d86"]]},{"id":"7fc59dd.1d26a64","type":"mqtt out","z":"369be085.a0164","name":"MQTT SEND","topic":"","qos":"","retain":"","broker":"70324f57.01c24","x":850,"y":80,"wires":[]},{"id":"5738d08c.5ba04","type":"uibuilder","z":"369be085.a0164","name":"MySmartHomeAdmin","topic":"","url":"smhome","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":540,"y":140,"wires":[["7fc59dd.1d26a64","a09e9311.e3266"],[]]},{"id":"7c643595.6f74ec","type":"mqtt in","z":"369be085.a0164","name":"GetHeatingWeekProfile","topic":"msghomegear/GetHeatingWeekProfile","qos":"2","broker":"70324f57.01c24","x":170,"y":140,"wires":[["5738d08c.5ba04","a09e9311.e3266"]]},{"id":"a09e9311.e3266","type":"debug","z":"369be085.a0164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":220,"wires":[]},{"id":"8116b2c5.4f466","type":"mqtt in","z":"369be085.a0164","name":"","topic":"msghomegear/SetHeatingWeekProfileResult","qos":"2","broker":"70324f57.01c24","x":230,"y":220,"wires":[["5738d08c.5ba04","a09e9311.e3266"]]},{"id":"fd2fa4d9.ec6ae8","type":"pythonshell in","z":"521a3c2d.329f04","name":"homematicip-l.istdevices","pyfile":"/dev/workspace.Homegear/homematicip-rest-api/homematicip_cli.py","x":370,"y":380,"wires":[["a71af03.1df9c1"]]},{"id":"5ecc0120.6613b","type":"inject","z":"521a3c2d.329f04","name":"start","topic":"test","payload":"--dump-configuration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["a71af03.1df9c1","fd2fa4d9.ec6ae8"]]},{"id":"a71af03.1df9c1","type":"debug","z":"521a3c2d.329f04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":480,"wires":[]}]