.node-red-42/flows_openHABianPi.json
[{"id":"e8ecaa52.0fa518","type":"tab","label":"Flow 1"},{"id":"250f68e4.c2fdc8","type":"tab","label":"Flow 2"},{"id":"3810e45f.3ca1dc","type":"mqtt-broker","z":"","broker":"192.168.178.42","port":"1883","clientid":"NodeRedTest","usetls":false,"compatmode":true,"keepalive":"0","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c383c511.de2f78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"61a0bc88.629ac4","type":"ui_tab","z":"","name":"Wohnzimmer","icon":"dashboard","order":1},{"id":"2fe6f5b3.572d1a","type":"ui_group","z":"","name":"Heizung","tab":"61a0bc88.629ac4","disp":true,"width":"6","collapse":false},{"id":"4c4d38a7.dc0d58","type":"ui_group","z":"","name":"Urlaubsmodus","tab":"61a0bc88.629ac4","disp":true,"width":"6","collapse":false},{"id":"a338d59f.5565e8","type":"debug","z":"e8ecaa52.0fa518","name":"","active":true,"console":"false","complete":"false","x":605,"y":202,"wires":[]},{"id":"e47ba146.1aa9e","type":"mqtt in","z":"e8ecaa52.0fa518","name":"","topic":"openhab-status/#","qos":"2","broker":"3810e45f.3ca1dc","x":246,"y":57,"wires":[[]]},{"id":"1fd6907d.ec59f","type":"mqtt in","z":"e8ecaa52.0fa518","name":"WohnzimmerWandthermostatActualTemperature","topic":"openhab-status/WohnzimmerWandthermostat_1_ActualTemperature/status","qos":"2","broker":"3810e45f.3ca1dc","x":201,"y":151,"wires":[["3c5d13b9.09f1bc","63412e63.09446"]],"outputLabels":["temp"]},{"id":"36098520.a03c1a","type":"ui_chart","z":"e8ecaa52.0fa518","name":"Wohnzimmer Temperature","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"19.5","ymax":"20.5","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":649,"y":330,"wires":[[],[]],"inputLabels":["temperature"]},{"id":"4fba6974.b7f578","type":"change","z":"e8ecaa52.0fa518","name":"ChangeIt","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"temperature","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":312,"y":290,"wires":[["36098520.a03c1a"]],"inputLabels":["input"],"outputLabels":["temp"]},{"id":"bbdf7652.66ccf8","type":"ui_date_picker","z":"e8ecaa52.0fa518","name":"PartyDateTo","label":"bis","group":"4c4d38a7.dc0d58","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":482,"y":426,"wires":[[]]},{"id":"b283cec.383e73","type":"ui_text_input","z":"e8ecaa52.0fa518","name":"PartyTimeTo","label":"Uhrzeit","group":"4c4d38a7.dc0d58","order":0,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":478,"y":486,"wires":[[]]},{"id":"eb0f9345.fbbd8","type":"ui_form","z":"e8ecaa52.0fa518","name":"Frame Wohnzimmer","label":"WohnzimmerFrame","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"options":[{"label":"Test1","value":"NameTest1","type":"text","required":true}],"formValue":{"NameTest1":""},"payload":"","topic":"","x":524,"y":76,"wires":[["a338d59f.5565e8"]],"outputLabels":["msg.payload"]},{"id":"e91f0bcb.ef01e8","type":"ui_text_input","z":"e8ecaa52.0fa518","name":"TestDataInput","label":"MyInput","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Test23","x":85,"y":330,"wires":[["63412e63.09446"]],"outputLabels":["{{msg.payload2}}"]},{"id":"498c8060.67338","type":"ui_numeric","z":"e8ecaa52.0fa518","name":"TestNumeric","label":"numeric","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"19","max":"20","step":"10","x":795,"y":168,"wires":[["a338d59f.5565e8"]]},{"id":"3c5d13b9.09f1bc","type":"ui_text","z":"e8ecaa52.0fa518","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"name":"","label":"TextTemp","format":"{{msg.payload | number:2}}Grad","layout":"row-left","x":502,"y":121,"wires":[]},{"id":"404fbd68.8d2604","type":"ui_text","z":"e8ecaa52.0fa518","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload | number:1}} Grad","layout":"row-spread","x":328,"y":367,"wires":[]},{"id":"63412e63.09446","type":"function","z":"e8ecaa52.0fa518","name":"ParseDecimal","func":"var temp = parseFloat(msg.payload);\nglobal.set(\"wz.temperature.set\",temp);\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":247,"wires":[["36098520.a03c1a","404fbd68.8d2604"]]},{"id":"a3b2047c.c37f18","type":"mqtt out","z":"e8ecaa52.0fa518","name":"Setze Wohnzimmer Temperatur","topic":"openhab-status/WohnzimmerWandthermostat_1_SetTemperature/status","qos":"","retain":"","broker":"3810e45f.3ca1dc","x":785,"y":862,"wires":[]},{"id":"2d8857e4.11bb08","type":"ui_button","z":"e8ecaa52.0fa518","name":"","group":"2fe6f5b3.572d1a","order":0,"width":0,"height":0,"passthru":false,"label":"Setze Temperatur Wohnzimmer ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SetTemperatureWz","x":171,"y":804,"wires":[["1a34564.2a5b0aa"]]},{"id":"1a34564.2a5b0aa","type":"function","z":"e8ecaa52.0fa518","name":"Fetch Temperature","func":"var temp = global.get(\"wz.temperature.set\");\nmsg.payload = \"[20]\"; //temp.toString();\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":805,"wires":[["9234edbc.26bdd"]]},{"id":"ce0a11c3.0ea84","type":"mqtt out","z":"e8ecaa52.0fa518","name":"","topic":"openhab-command/LivingDining_Heating/command","qos":"","retain":"","broker":"3810e45f.3ca1dc","x":811,"y":783,"wires":[]},{"id":"eb23f6f.08f2a08","type":"mqtt in","z":"e8ecaa52.0fa518","name":"","topic":"homegear/#","qos":"2","broker":"3810e45f.3ca1dc","x":110,"y":397,"wires":[[]]},{"id":"ea88025.f57a2","type":"debug","z":"e8ecaa52.0fa518","name":"","active":true,"console":"false","complete":"false","x":630,"y":533,"wires":[]},{"id":"63001b75.017794","type":"mqtt out","z":"e8ecaa52.0fa518","name":"","topic":"homegear/1234-5678-9abc/jsonobj/10/1/ACTUAL_TEMPERATURE/#","qos":"","retain":"","broker":"3810e45f.3ca1dc","x":305,"y":862,"wires":[]},{"id":"23334023.59abb","type":"mqtt in","z":"e8ecaa52.0fa518","name":"Wandthermostat-Actual Temp","topic":"homegear/1234-5678-9abc/jsonobj/5/#","qos":"2","broker":"3810e45f.3ca1dc","x":138,"y":572,"wires":[[]]},{"id":"6407556.ddf3fac","type":"change","z":"e8ecaa52.0fa518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"homegear","fromt":"str","to":"KUECHE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":136,"y":496,"wires":[[]]},{"id":"47eeb2b9.b9de1c","type":"function","z":"e8ecaa52.0fa518","name":"myfunction","func":"node.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":576,"wires":[[]]},{"id":"328bb1f.95aef4e","type":"mqtt in","z":"e8ecaa52.0fa518","name":"","topic":"homegear/1234-5678-9abc/json/5/#","qos":"2","broker":"3810e45f.3ca1dc","x":194,"y":677,"wires":[[]]},{"id":"9234edbc.26bdd","type":"mqtt out","z":"e8ecaa52.0fa518","name":"5 SetTemperature","topic":"homegear/1234-5678-9abc/json/5/1/SET_TEMPERATURE","qos":"","retain":"","broker":"3810e45f.3ca1dc","x":764,"y":675,"wires":[]},{"id":"8ae45d87.0757a","type":"mqtt in","z":"250f68e4.c2fdc8","name":"WzWandthermostat","topic":"homegear/1234-5678-9abc/json/+/1/#","qos":"2","broker":"3810e45f.3ca1dc","x":121,"y":20,"wires":[[]]},{"id":"509ed7bf.f21138","type":"debug","z":"250f68e4.c2fdc8","name":"","active":true,"console":"false","complete":"payload","x":815,"y":144,"wires":[]},{"id":"815701be.08d6d","type":"json","z":"250f68e4.c2fdc8","name":"","pretty":false,"x":684,"y":226,"wires":[["a3898cd8.1df41"]]},{"id":"9b3b0dbb.1675c","type":"debug","z":"250f68e4.c2fdc8","name":"","active":true,"console":"false","complete":"parts","x":807,"y":395,"wires":[]},{"id":"9bac411a.8991a","type":"function","z":"250f68e4.c2fdc8","name":"Divide to temperature  items","func":"var save = JSON.parse(JSON.stringify(msg))\nmsg.payload = save;\nvar t = msg.topic;\nvar arr = t.split(\"/\");\nif (arr.length >=4) {\n    msg.item = arr[3];\n}\nnode.log(\"Teile: \"+ arr.toString());\nnode.log(\"Item: \"+ msg.item);\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":286,"wires":[["3b523d01.52fbb2","9e2f7308.99c68"]]},{"id":"3b523d01.52fbb2","type":"debug","z":"250f68e4.c2fdc8","name":"","active":true,"console":"false","complete":"false","x":803,"y":467,"wires":[]},{"id":"e1242845.483fa8","type":"status","z":"250f68e4.c2fdc8","name":"","scope":null,"x":764,"y":630,"wires":[["3b523d01.52fbb2","9b3b0dbb.1675c"]],"outputLabels":["Test"]},{"id":"a3898cd8.1df41","type":"function","z":"250f68e4.c2fdc8","name":"MySplitFunction","func":"var arr=[];\nnode.log(msg.payload);\nvar obj = msg.payload;\n\nnode.log(\"Payload: \"+JSON.stringify(msg.payload));\n  var result = \"\";\n  var keys = Object.keys(msg.payload);\n  node.log(\"keys: \"+keys);\n  keys.map(function k() {\n      node.log(\"wert=\"+obj[k]);\n  });\n  for (var p in keys) {\n      node.log(\"p: \"+p);\n      var key = keys[p];\n      var value = msg.payload[key];\n      node.log(\"key: \" +key + \" Value: \"+value);\n      var o = {};\n      o[key] = value,\n\n      node.log(\"o: \"+JSON.stringify(o));\n      arr.push(o);\n  }\n  /*\n  for (var p in obj) {\n    if( obj.hasOwnProperty(p) ) {\n        var o = {p: obj[p]};\n      arr.push(o);\n      result += p + \" , \" + obj[p] + \"\\n\";\n    } \n  }    \n  node.log(\"Result: \"+result);\n  */\n    node.log(\"Array: \"+arr);\nmsg.payload = arr; //[arr];\nreturn msg;","outputs":"1","noerr":0,"x":730,"y":277,"wires":[["3b523d01.52fbb2","cc90c3c9.685b7"]]},{"id":"cc90c3c9.685b7","type":"switch","z":"250f68e4.c2fdc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":691,"y":346,"wires":[[]]},{"id":"ce4f92a5.d1449","type":"mqtt in","z":"250f68e4.c2fdc8","name":"ActualTemperature","topic":"homegear/1234-5678-9abc/json/+/1/ACTUAL_TEMPERATURE","qos":"2","broker":"3810e45f.3ca1dc","x":160,"y":141,"wires":[["509ed7bf.f21138","9bac411a.8991a","cc42b0fe.47e11"]]},{"id":"cc42b0fe.47e11","type":"function","z":"250f68e4.c2fdc8","name":"","func":"var save = JSON.parse(JSON.stringify(msg))\nmsg.payload = msg.topic.toString();\nnode.log(\"payload: \"+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":461,"y":190,"wires":[[]]},{"id":"9e2f7308.99c68","type":"switch","z":"250f68e4.c2fdc8","name":"TempItem","property":"item","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"else"}],"checkall":"false","outputs":3,"x":228,"y":376,"wires":[["f757c540.0931d8"],["f2ba0245.83543"],["7f4336fd.704d08"]],"outputLabels":["WzWandTherm","",null]},{"id":"f757c540.0931d8","type":"function","z":"250f68e4.c2fdc8","name":"WzWandTherm","func":"node.log(\"WzWandTherm function \"+msg.payload);\nvar payload=msg.payload;\nmsg.payload=\"Wz Wandthermostat Actual Temperature \"+payload;\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":395,"wires":[["3b523d01.52fbb2"]]},{"id":"f2ba0245.83543","type":"function","z":"250f68e4.c2fdc8","name":"KuecheHeizTherm","func":"node.log(\"KuecheTherm function \"+msg.payload);\nvar payload=msg.payload;\nmsg.payload=\"Kueche Heizthermostat Actual Temperature \"+payload;\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":458,"wires":[["3b523d01.52fbb2"]]},{"id":"7f4336fd.704d08","type":"function","z":"250f68e4.c2fdc8","name":"Otherewise","func":"msg.payload = \"Otherwise \"+msg.payload;\nnode.log(\"Otherwise \"+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":553,"wires":[["3b523d01.52fbb2"]]},{"id":"3b8885f3.9aa1ea","type":"inject","z":"250f68e4.c2fdc8","name":"","topic":"homegear/1234-5678-9abc/plain/5/1/SET_TEMPERATURE","payload":"20.0","payloadType":"str","repeat":"","crontab":"","once":false,"x":132,"y":640,"wires":[["ca2d23d0.a6f9f"]]},{"id":"ca2d23d0.a6f9f","type":"mqtt out","z":"250f68e4.c2fdc8","name":"","topic":"homegear/1234-5678-9abc/set/5/1/SET_TEMPERATURE","qos":"","retain":"","broker":"3810e45f.3ca1dc","x":484,"y":689,"wires":[]}]